<h2>Shares</h2>
<div>
  <label>Share user:
    <input [(ngModel)]="newShare.user_id" placeholder="user">
  </label>
  <label>Share amount:
    <input [(ngModel)]="newShare.value" placeholder="value">
  </label>
  <button (click)="addShare()">
    add
  </button>
</div>
<ul class="shares">
  <li *ngFor="let share of shares">
    <a routerLink="/shares/{{share.id}}">
      {{ share.user.name  }} <span *ngIf="share.user.nickname!=null">"{{ share.user.nickname }}" </span>{{ share.user.surname }}: {{share.value}}
    </a>
    <button class="delete" title="delete share" (click)="deleteShare(share)">x</button>
  </li>
</ul>
