<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Shares</th>
      <th scope="col"><i class="ion-plus" data-toggle="modal" data-target="#newShare"></i></th>
    </tr>
  </thead>
  <tbody>
	  <tr *ngFor="let share of shares">
	    <td><a routerLink="/shares/{{share.id}}">{{ share.user.name  }} <span *ngIf="share.user.nickname!=null">"{{ share.user.nickname }}" </span>{{ share.user.surname }}: {{share.value}}</a></td>
	    <td><i class="ion-trash-b" (click)="deleteShare(share)"></i></td>
    </tr>
  </tbody>
</table>
<div class="modal" id="newShare" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Share</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="form-group row">
         <label for="user" class="col-2 col-form-label">user</label>
         <div class="col-10">
           <input [(ngModel)]="newShare.user_id" class="form-control" placeholder="user" id="user" />
         </div>
       </div>
       <div class="form-group row">
         <label for="value" class="col-2 col-form-label">amount</label>
         <div class="col-10">
           <input [(ngModel)]="newShare.value" class="form-control" placeholder="value" id="value" type="number" step=".01" />
         </div>
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><span aria-hidden="true">&times;</span> close</button>
        <button type="button" class="btn btn-primary btn-lg" (click)="addShare()"><i class="ion-upload"></i> save</button>
      </div>
    </div>
  </div>
</div>
