<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" routerLink="/users" routerLinkActive="active"><i class="oi oi-icon-connections"></i> Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/travels" routerLinkActive="active"><i class="oi oi-globe"></i> Travels</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
  <app-messages></app-messages>
</div>