<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <ul class="nav nav-pills nav-fill" *ngIf="user_id!=null">
    <li class="nav-item">
      <a class="nav-link" routerLink="/self/{{user_id}}" routerLinkActive="active"><i class="ion-person-stalker"></i> Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/travels" routerLinkActive="active"><i class="ion-map"></i> Travels</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
  <app-messages></app-messages>
</div>
