<h2>Users</h2>
<div>
  <label>User name:
    <input [(ngModel)]="newUser.name" placeholder="name">
  </label>
  <label>User nickname:
    <input [(ngModel)]="newUser.nickname" placeholder="nickname">
  </label>
  <label>User surname:
    <input [(ngModel)]="newUser.surname" placeholder="surname">
  </label>
  <label>User email:
    <input [(ngModel)]="newUser.email" placeholder="email">
  </label>
  <button (click)="addUser()">
    add
  </button>
</div>
<app-user-search></app-user-search>
<ul class="users">
  <li *ngFor="let user of users">
    <a routerLink="/users/{{user.id}}">
      <span class="badge">{{user.id}}</span> {{user.name}} <span *ngIf="user.nickname!=null">"{{user.nickname}}" </span>{{user.surname}}
    </a>
    <button *ngIf="user.uid==null" class="delete" title="delete user" (click)="deleteUser(user)">x</button>
  </li>
</ul>