<h2>Users</h2>
<div>
  <label>User name:
    <input #userName />
  </label>
  <button (click)="addUser(userName.value); userName.value=''">
    add
  </button>
</div>
<ul class="users">
  <li *ngFor="let user of users">
    <a routerLink="/users/{{user.id}}">
      <span class="badge">{{user.id}}</span> {{user.name}} <span ngIf="user.nickname!=''">"{{user.nickname}}" </span>{{user.surname}}
    </a>
    <button class="delete" title="delete user" (click)="deleteUser(user)">x</button>
  </li>
</ul>