.supersonic-navbar-mock {
  background-color: #ff1493 !important;
  text-align: center;
  font-weight: 600;
}
.button.button-positive{
  background: #ff1493;
  border: #000000;
  color: #000000;
}
.button-block.button-negative{
  background: #000000;
  border: #ff1493;
  color: #ff1493;
}