<div *ngIf="share">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" routerLink="/travels/{{share.cost.travel.id}}" routerLinkActive="active">{{ share.cost.travel.name }}</li>
    <li class="breadcrumb-item" routerLink="/costs/{{share.cost.id}}" routerLinkActive="active">{{ share.cost.name }}</li>
    <li class="breadcrumb-item" routerLink="/shares/{{share.id}}" routerLinkActive="active">{{ share.value | uppercase }}</li>
  </ol>
  <div class="card card-outline-primary mb-3">
    <div class="card-block">
       <div class="form-group row">
         <label for="user" class="col-2 col-form-label">user</label>
         <div class="col-10">
           <input [(ngModel)]="share.user_id" class="form-control" id="user" placeholder="user" />
         </div>
       </div>
       <div class="form-group row">
         <label for="value" class="col-2 col-form-label">amount</label>
         <div class="col-10">
           <input [(ngModel)]="share.value" type="number" step=".01" class="form-control" id="value" placeholder="value" />
         </div>
       </div>
    </div>
    <div class="card-footer">
      <a href="#" (click)="goBack()" class="card-link btn btn-outline-secondary"><i class="oi oi-media-step-backward"></i> go back</a>
      <a href="#" (click)="save()" class="card-link btn btn-primary btn-lg"><i class="oi oi-media-cloud-upload"></i> save</a>
    </div>
  </div>
</div>