<tr *ngFor="let friendship of friendships">
  <td><a routerLink="/users/{{friendship.friend_id}}">{{friendship.friend.name}} <span *ngIf="friendship.friend.nickname!=null">"{{friendship.friend.nickname}}" </span>{{friendship.friend.surname}}</a></td>
  <td>
    <i class="ion-heart-broken" (click)="deleteFriendship(friendship)"></i>
    <i class="ion-heart-broken" (click)="mergableUser(friendship.friend)"></i>
    <i *ngIf="friendship.friend.uid==null" class="ion-trash-b" (click)="deleteUser(friendship.friend)"></i>
  </td>
</tr>