/***********************************************************
 * These styles apply for native components on iOS.
 * Read more about native styles at http://docs.appgyver.com
 ***********************************************************/

navigation-bar {
  background-color: #ff1493;
  color: #000000;
}

navigation-bar title {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}

navigation-bar button, navigation-bar back-bar-button {
  color: #000000;
  font-weight: 300;
}

tab-bar {
  background-color: #ffffff;
  border-top: 1px #000000 solid;
}

tab-bar tab-bar-item {
  color: #ff1493;
  font-family: "Avenir";
  font-size: 10px;
}

tab-bar tab-bar-item:selected {
  color: #ff1493;
}

tab-bar-item#person {
  background-image: url(icons/person.svg);
}

tab-bar-item#journey {
  background-image: url(icons/journey.svg);
}
