<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Journeyperson Index
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list" ng-hide="journeypersons.length == 0">

      <super-navigate location="journeyperson#show" data-params-id="{{ journeyperson.id }}" ng-repeat="journeyperson in journeypersons">
        <li class="item item-icon-right">
          <span ng-bind="journeyperson['id_journey']"></span>
          <i class="icon super-ios-arrow-right"></i>
        </li>
      </super-navigate>

    </ul>

    <h4 ng-show="journeypersons.length == 0" class="assertive padding">
      No journeypersons found. Create one?
    </h4>

    <super-modal-show location="journeyperson#new">
      <button class="button button-full button-positive">
        Create a new journeyperson
      </button>
    </super-modal-show>
  </div>
</div>
