<div class="list">

  <input type="hidden" ng-model="person['id']">
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">name</span>
    <input type="text" ng-model="person['name']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">nickname</span>
    <input type="text" ng-model="person['nickname']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">surname</span>
    <input type="text" ng-model="person['surname']">
  </label>

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
