<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Person Index
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list" ng-hide="persons.length == 0">

      <super-navigate location="person#show" data-params-id="{{ person.id }}" ng-repeat="person in persons">
        <li class="item item-icon-right">
          <span ng-bind="person['name']"></span>
          <i class="icon super-ios-arrow-right"></i>
        </li>
      </super-navigate>

    </ul>

    <h4 ng-show="persons.length == 0" class="assertive padding">
      No persons found. Create one?
    </h4>

    <super-modal-show location="person#new">
      <button class="button button-full button-positive">
        Create a new person
      </button>
    </super-modal-show>
  </div>
</div>
