<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      {{person['nickname']}}
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <h2 ng-bind="person['nickname']"></h2>
      
      
      
       <p>name: <span ng-bind="person['name']"></span></p> 
      
       <p>surname: <span ng-bind="person['surname']"></span></p>  

      <super-modal-show location="person#edit?id={{ person.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(person.id)" class="button button-block button-negative">
        Remove
      </button>
    </div>
  </div>
</div>
