<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title ng-bind="person['nickname']"></super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      
       <h3>name: <span ng-bind="person['name']"></span></h3> 
      
       <h3>surname: <span ng-bind="person['surname']"></span></h3>  

      <super-modal-show location="person#edit?id={{ person.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(person.id)" class="button button-block button-negative">
        Remove
      </button>
    </div>
  </div>
</div>
