<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Pay Index
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list" ng-hide="pays.length == 0">

      <super-navigate location="pay#show" data-params-id="{{ pay.id }}" ng-repeat="pay in pays">
        <li class="item item-icon-right">
          <span ng-bind="pay['value']"></span>
          <i class="icon super-ios-arrow-right"></i>
        </li>
      </super-navigate>

    </ul>

    <h4 ng-show="pays.length == 0" class="assertive padding">
      No pays found. Create one?
    </h4>

    <super-modal-show location="pay#new">
      <button class="button button-full button-positive">
        Create a new pay
      </button>
    </super-modal-show>
  </div>
</div>
