<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <h2 ng-bind="pay['value']"></h2>
      
      
      
       <p>id_person: <span ng-bind="pay['id_person']"></span></p> 
      
       <p>id_cost: <span ng-bind="pay['id_cost']"></span></p> 
      


      <super-modal-show location="pay#edit?id={{ pay.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(pay.id)" class="button button-block button-negative">
        Remove
      </button>
    </div>
  </div>
</div>
