<div *ngIf="travel">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/travels/{{travel.id}}" routerLinkActive="active">{{ travel.name | uppercase }}</a></li>
  </ol>
  <div class="card card-outline-primary mb-3">
    <div class="card-block">
        <div class="form-group row">
          <label for="name" class="col-2 col-form-label">name</label>
          <div class="col-10">
            <input [(ngModel)]="travel.name" class="form-control" placeholder="name" id="name" />
          </div>
        </div>
    </div>
    <div class="card-footer">
      <a href="#" (click)="goBack()" class="card-link btn btn-outline-secondary"><i class="oi oi-media-step-backward"></i> go back</a>
      <a href="#" (click)="save()" class="card-link btn btn-primary btn-lg"><i class="oi oi-media-cloud-upload"></i> save</a>
    </div>
  </div>
  <app-costs [travel]="travel"></app-costs>
</div>
