<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      {{journey['name']}}
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
            
       <h3>closed: <span ng-bind="journey['closed']"></span></h3> 

      <super-modal-show location="journey#edit?id={{ journey.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(journey.id)" class="button button-block button-negative">
        Remove
      </button>
    </div>
  </div>
</div>
